/* Per buona pratica elimino i bordi e i margini del browser e imposto
l'immagine del background */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: url("img/back.jpg");
  /* background-size: contain; */
  z-index: 0;
}

/* Cerco di impostare il contenitore principale della pagina */

#containter {
  margin: 0 auto;
  width: 50%;
  height: 1200px;
  position: relative;
  background-color: gray;
  z-index: 10;
}

#main::after {
  content: "";
  display: table;
  clear: both;
}

header {
  position: relative;
  width: 100%;
  height: 400px;
  background: url("img/head.jfif");
  background-size: cover;
  margin: 10px 0px 20px 0px;
}

nav {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: green;
  bottom: 0;
  border-radius: 5px;
}



.bloccholaterale1, .bloccholaterale2 {

  width: 20%;

  float: left;
}


.bloccholaterale1{
  height: 150px;
  background-color: purple;
  border-radius: 5px;

}

.bloccosingolo {
  background-color: pink;
  width: 100%;
  height: 150px;
  margin: 0 0 25px 0;
  border-radius: 5px;

}

.blocchoprincipale {
  background-color: yellow;
  width: 50%;
  height: 300px;
  margin: 0 5%;
  float: left;
  border-radius: 5px;
}

footer {
  height: 100px;
  width: 80%;
  background-color: red;
  bottom: 0;
  left: 65px;
  position: absolute;
  border-radius: 5px;

}
